{% extends 'atados/volunteer/base.html' %}
{% load i18n thumbnail %}

{% block breadcrumb %}
<li class="active">{{ volunteer.user.first_name }}</li>
{% endblock %}

{% block content %}
<div id="volunteer-details">
  <div class="row">
    <div class="span12">
      <h1>{{ volunteer.user.first_name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="profile-picture">
        {% thumbnail volunteer.image "220x220" crop="center" as im %}
        <img class="img-rounded" alt="{{ volunteer }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% if volunteer.user == request.user %}
        <a class="btn" href="{% url volunteer:edit-volunteer-picture volunteer.user.username %}"><i class="icon-edit"></i> {% trans "Edit profile picture" %}</a>
        {% endif %}
        {% empty %}
        <div class="img-rounded icon volunteer large"></div>
        {% if volunteer.user == request.user %}
        <a class="btn" href="{% url volunteer:edit-volunteer-picture volunteer.user.username %}"><i class="icon-edit"></i> {% trans "Add profile picture" %}</a>
        {% endif %}
        {% endthumbnail %}
      </div>
    </div>
    <div class="span6">
      <div class="well well-light">
        <h2>{% trans "Recent activities" %}</h2>
      </div>
    </div>
    <div class="span3">
      <div class="well">
        <h2>{% trans "Skills" %}</h2>
        <h2>{% trans "Achievements" %}</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}
