{% extends 'atados/volunteer/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li class="active">{% trans "Become a volunteer" %}</li>
{% endblock %}

{% block content %}
<div id="volunteer-sign-up">
  <div class="page-header">
    <h1>{% trans "Sign up to become a volunteer" %}</h1>
  </div>

  <div class="row">
    <div class="span6 reasons">
      <div class="row">
        <div class="span3">
          <img class="img-rounded" src="{{ STATIC_URL }}/img/dummy.jpg" width="220" height="220" />
        </div>
        <div class="span3">
          <h2>{% trans "Find projects that need your skills" %}</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis ante non nulla sodales elementum. Cras sed sapien tortor, sed.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <img class="img-rounded" src="{{ STATIC_URL }}/img/dummy.jpg" width="220" height="220" />
        </div>
        <div class="span3">
          <h2>{% trans "Meet people doing good" %}</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt pulvinar tellus, sed iaculis elit volutpat sit amet. Duis vehicula.
          </p>
        </div>
      </div>
    </div>
    <div class="span6">
      <form class="well" method="post" action="{% url volunteer:sign-up %}">{% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-terms alert">
          {% url atados:home as terms_url %}
          {% url atados:home as privacy_url %}
          {% blocktrans %}
          By clicking Sign Up, you are indicating that you have read and agree to the <a tabindex="-1" href="{{ terms_url }}">Terms of Service</a> and <a tabindex="-1" href="{{ privacy_url }}">Privacy Policy</a>.
          {% endblocktrans %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
