{% extends 'atados/organisation/base.html' %}
{% load i18n thumbnail %}

{% block breadcrumb %}
<li class="active">{{ organisation.name }}</li>
{% endblock %}

{% block content %}
<div id="organisation-details">
  <div class="row">
    <div class="span12">
      <h1>{{ organisation.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="profile-picture">
        {% thumbnail organisation.image "220x220" crop="center" as im %}
        <img class="img-rounded" alt="{{ organisation }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% if organisation in organisation_list %}
        <a class="btn" href="{% url organisation:edit-organisation-picture organisation.slug %}"><i class="icon-edit"></i> {% trans "Edit profile picture" %}</a>
        {% endif %}
        {% empty %}
        <div class="img-rounded icon organisation medium"></div>
        {% if organisation in organisation_list %}
        <a class="btn" href="{% url organisation:edit-organisation-picture organisation.slug %}"><i class="icon-edit"></i> {% trans "Add profile picture" %}</a>
        {% endif %}
        {% endthumbnail %}
      </div>
      <div class="row">
        <div class="span3">
          <h2 style="margin-top:12px">{% trans "Volunteers" %}</h2>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <img class="img-rounded" style="width:42px; float:left; margin:0 10px 10px 0" src="{{ STATIC_URL }}/img/dummy.jpg" />
          <div style=""><a href="#">Rogerio da Silva Yokomizo</a></div>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <img class="img-rounded" style="width:42px; float:left; margin:0 10px 10px 0" src="{{ STATIC_URL }}/img/dummy.jpg" />
          <div style=""><a href="#">Rogerio Yokomizo</a></div>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="well well-light">
        <div style="position:relative">
          <h2>{% trans "Projects" %}</h2>
          {% if organisation in organisation_list %}
          <a href="{% url project:new organisation.slug %}" style="position:absolute; top:2px; right:0;">{% trans "New project" %}</a>
          {% endif %}
        </div>
        <ul>
          {% for project in organisation.project_set.all %}
          <li>
            {% thumbnail project.image "60x60" crop="center" as im %}
            <img class="img-rounded" src="{{ im.url }}" widht"{{ im.width }}" height="{{ im.height }}" />
            {% empty %}
            <div class="img-rounded icon project medium"></div>
            {% endthumbnail %}
            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
            <p>{{ project.details }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="well">
        <div style="position:relative">
          <h2>{% trans "Organisation" %}</h2>
          {% if organisation in organisation_list %}
          <a href="#" style="position:absolute; top:2px; right:0;">{% trans "Edit" %}</a>
          {% endif %}
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a lorem a odio pharetra eleifend.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
