{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit thumbnail %}

{% block breadcrumb %}
<li class="active">{% trans "Search" %}</li>
{% endblock %}

{% block content %}

<div id="search-result">
  <div class="page-header">
    <h1>{% trans "Search" %}</h1>
    <form class="form-search" method="get" action="{% url atados:search %}">
      <div class="input-append">
        <input type="text" class="input-xxlarge search-query" name="q" value="{{ form.q.value }}" />
        <button type="submit" class="btn">{% trans "Search" %}</button>
        {% for type in form.types.value %}
        <input type="hidden" name="types" value="{{ type }}" />
        {% endfor %}
      </div>
    </form>
  </div>

  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <li{% if 'Project' in form.types.value or not form.types.value %} class="active"{% endif %}>
        <a href="?q={{ form.q.value }}&amp;types=Project">{% trans "Projects" %}</a>
        </li>
        <li{% if 'Nonprofit' in form.types.value %} class="active"{% endif %}>
        <a href="?q={{ form.q.value }}&amp;types=Nonprofit">{% trans "Nonprofits" %}</a>
        </li>
        <li{% if 'Volunteer' in form.types.value %} class="active"{% endif %}>
        <a href="?q={{ form.q.value }}&amp;types=Volunteer">{% trans "Volunteers" %}</a>
        </li>
      </ul>
    </div>
    <div class="span9">
      {% if query %}
      <div class="result">
        {% if paginator.count > 0 %}
        <div class="bar">
          {% with paginator.count as count %}
          {% if 'Project' in form.types.value and form.types.value|length == 1 or not form.types.value %}
          {% if count > 1 %}
          {% blocktrans %}We've found {{ count }} projects{% endblocktrans %}
          {% elif count == 1 %}
          {% blocktrans %}We've found 1 project{% endblocktrans %}
          {% endif %}

          {% elif 'Nonprofit' in form.types.value and form.types.value|length == 1 %}
          {% if count > 1 %}
          {% blocktrans %}We've found {{ count }} nonprofits{% endblocktrans %}
          {% elif count == 1 %}
          {% blocktrans %}We've found 1 nonprofit{% endblocktrans %}
          {% endif %}

          {% elif 'Volunteer' in form.types.value and form.types.value|length == 1 %}
          {% if count > 1 %}
          {% blocktrans %}We've found {{ count }} volunteers{% endblocktrans %}
          {% elif count == 1 %}
          {% blocktrans %}We've found 1 volunteer{% endblocktrans %}
          {% endif %}

          {% else %}
          {% if count > 1 %}
          {% blocktrans %}We've found {{ count }} results{% endblocktrans %}
          {% elif count == 1 %}
          {% blocktrans %}We've found 1 result{% endblocktrans %}
          {% endif %}
          {% endif %}
          {% endwith %}
        </div>
        <ul class="results">
          {% for result in page.object_list %}
          <li>
          <div class="row">
            <div class="span1">
              {% thumbnail result.object.image "60x60" crop="center" as im %}
              <img class="img-rounded" alt="{{ result.object }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
              {% empty %}
              <div class="img-rounded icon project small"></div>
              {% endthumbnail %}
            </div>
            <div class="span8">
              <a class="title" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
              <p class="description">{{ result.object.details }}</p>
            </div>
          </div>
          </li>
          {% endfor %}
        </ul>

        {% if page.has_previous or page.has_next %}
        <ul class="pagination">
          <li>
          {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}{% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}
          </li>
          <li>
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans "Next" %}{% if page.has_next %}</a>{% endif %}
          </li>
        </ul>
        {% endif %}

        {% else %}
        <div class="well">
          {% if 'Project' in form.types.value and form.types.value|length == 1 or not form.types.value %}
          {% blocktrans %}We couldn't find any projects matching '{{ query }}'.{% endblocktrans %}

          {% elif 'Nonprofit' in form.types.value and form.types.value|length == 1 %}
          {% blocktrans %}We couldn't find any nonprofits matching '{{ query }}'.{% endblocktrans %}

          {% elif 'Volunteer' in form.types.value and form.types.value|length == 1 %}
          {% blocktrans %}We couldn't find any volunteers matching '{{ query }}'.{% endblocktrans %}

          {% else %}
          {% blocktrans %}We couldn't find any results matching '{{ query }}'.{% endblocktrans %}
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</div>
{% endblock %}
