{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit thumbnail %}

{% block breadcrumb %}
<li class="active">{% trans "Search" %}</li>
{% endblock %}

{% block content %}

<div id="search-result">
  <div class="row">
    <div class="span3">
      <h1>{% trans "Search" %}</h1>
    </div>
    <div class="span9">
      <form class="form-search" method="get" action="{% url atados:search %}">
        <div class="input-append">
          <input type="text" class="input-xxlarge search-query" name="q" value="{{ form.q.value }}" />
          <button type="submit" class="btn">{% trans "Search" %}</button>
        </div>
      </form>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <li class="active"><a href="#">{% trans "Projects" %}</a></li>
        <li><a href="#">{% trans "Nonprofits" %}</a></li>
        <li><a href="#">{% trans "Volunteers" %}</a></li>
      </ul>
    </div>
    <div class="span9">
      {% if query %}
      <div class="results">
        <div class="bar">
          {% trans "We've found XXXXX project results" %}
        </div>
        <ul>
          {% for result in page.object_list %}
          <li>
          <div class="row">
            <div class="span1">
              {% thumbnail result.object.image "60x60" crop="center" as im %}
              <img class="img-rounded" alt="{{ result.object }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
              {% empty %}
              <div class="img-rounded icon project small"></div>
              {% endthumbnail %}
            </div>
            <div class="span8">
              <a class="title" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
              <p class="description">{{ result.object.details }}</p>
            </div>
          </div>
          </li>
          {% empty %}
          <p>No results found.</p>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</div>
{% endblock %}
