{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li class="active">{% trans "Search" %}</li>
{% endblock %}

{% block content %}

<div id="search-result">
  <div class="row">
    <div class="span3">
      <h1>{% trans "Search" %}</h1>
    </div>
    <div class="span9">
      <form class="form-search" method="get" action="{% url atados:search %}">
        <div class="input-append">
          <input type="text" class="input-xxlarge search-query" name="q" value="{{ form.q.value }}" />
          <button type="submit" class="btn">{% trans "Search" %}</button>
        </div>
      </form>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <li class="active"><a href="#">{% trans "Projects" %}</a></li>
        <li><a href="#">{% trans "Nonprofits" %}</a></li>
        <li><a href="#">{% trans "Volunteers" %}</a></li>
      </ul>
    </div>
    <div class="span9">
      {% if query %}
      <ul class="results">
        {% trans "We've found XXXXX project results" %}
        {% for result in page.object_list %}
        <li>
          <a class="title" href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a>
          <p class="description">{{ result.object.details }}</p>
        </li>
        {% empty %}
        <p>No results found.</p>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</div>
{% endblock %}
