{% extends 'atados/nonprofit/base.html' %}
{% load i18n bootstrap_toolkit thumbnail %}

{% block out_breadcrumb %}
{% endblock %}

{% block js %}
<script>$('.volunteer-link').tooltip({'placement': 'right'});</script>
{% endblock %}

{% block content %}

<div id="nonprofit-home">
  {% for nonprofit in nonprofit_list %}
  <div class="row">
    <div class="span1">
      <a href="{% url slug nonprofit.slug %}">
        {% thumbnail nonprofit.image "60x60" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-rounded" />
        {% empty %}
        <div class="img-rounded icon nonprofit small"></div>
        {% endthumbnail %}
      </a>
    </div>
    <div class="span11">
      <h1><a href="{% url slug nonprofit.slug %}">{{ nonprofit.name }}</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="span8">
      ...
    </div>
    <div class="span4">
      <div class="row">
        <div class="span2">
          <h2>{% trans "Projects" %}</h2>
        </div>
        <div style="text-align:right" class="span2">
          <a class="btn btn-primary btn-small" href="{% url project:new nonprofit.slug %}">{% trans "New project" %}</a>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked">
      {% for project in nonprofit.project_set.all %}
        <li><a href="{{ project.get_edit_url }}">{{ project.name }}</a></li>
      {% empty %}
        <li>{% trans "Your nonprofit does not have any project" %}</li>
      {% endfor %}
      </ul>
    </div><!-- /.span4 -->
  </div><!-- /.row -->
  {% endfor %}
</div>
{% endblock %}
