{% extends 'atados/nonprofit/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li class="active">{% trans "Post a project" %}</li>
{% endblock %}

{% block content %}
<div id="nonprofit-sign-up">
  <div class="page-header">
    <h1>{% trans "Sign up to find more volunteers" %}</h1>
  </div>

  <div class="row">
    <div class="span6 reasons">
      <div class="row">
        <div class="span3">
          <img class="img-rounded" src="{{ STATIC_URL }}/img/dummy.jpg" width="220" height="220" />
        </div>
        <div class="span3">
          <h2>{% trans "Management platform free." %}</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis mattis tincidunt. Sed at mauris eu lacus egestas fringilla vitae.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <img class="img-rounded" src="{{ STATIC_URL }}/img/dummy.jpg" width="220" height="220" />
        </div>
        <div class="span3">
          <h2>{% trans "Find volunteers with specific skills" %}</h2>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi neque, pulvinar at viverra iaculis, gravida quis sem. Suspendisse iaculis.
          </p>
        </div>
      </div>

    </div>
    <div class="span6">
      <form class="well" method="post" action="{% url nonprofit:sign-up %}">{% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-terms alert">
          {% url atados:home as terms_url %}
          {% url atados:home as privacy_url %}
          {% blocktrans %}
          By clicking Sign Up, you are indicating that you have read and agree to the <a tabindex="-1"href="{{ terms_url }}">Terms of Service</a> and <a tabindex="-1" href="{{ privacy_url }}">Privacy Policy</a>.
          {% endblocktrans %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
