{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit thumbnail %}

{% block breadcrumb %}
<li><a href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a></li>
<li class="active">{{ project.name }}</li>
{% endblock %}

{% block js %}
<script>
  $('.btn-apply').click(function(){
    btn = $(this);
    btn.button('loading');
    $.ajax({
      url: '{% url project:apply nonprofit.slug project.slug %}',
      dataType: 'json',
      type: 'post',
      success: function(data) {
        console.log(data);
      },
      error: function(error) {
        console.log(error);
        btn.button('reset');
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<div id="project-details">
  <div class="row">
    <div class="span9">
      <h1>{{ project.name }}</h1>
      <h2 class="nonprofit"><a href="{{ nonprofit.get_absolute_url }}">{{ nonprofit }}</a></h2>
    </div>
    <div class="span3">
      {% if request.user.is_authenticated %}
      {% if apply %}
      <span class="btn btn-primary btn-large btn-block disable">{% trans "Already applied" %}</span>
      {% else %}
      <a role="button" class="btn btn-primary btn-large btn-block" href="#myModal" data-toggle="modal">{% trans "Apply" %}</a>
      {% endif %}
      {% else %}
      <a class="btn btn-primary btn-large btn-block" href="{% url atados:sign-in %}?next={{ request.path }}">{% trans "Sign in to apply" %}</a>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <div class="profile-picture">
        {% thumbnail project.image "220x220" crop="center" as im %}
        <img class="img-rounded" alt="{{ project }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% if nonprofit in nonprofit %}
        <a class="btn" href="{% url project:edit-project-picture nonprofit.slug project.slug %}"><i class="icon-edit"></i> {% trans "Edit project picture" %}</a>
        {% endif %}
        {% empty %}
        <div class="img-rounded icon nonprofit medium"></div>
        {% if nonprofit in nonprofit %}
        <a class="btn" href="{% url project:edit-project-picture nonprofit.slug project.slug %}"><i class="icon-edit"></i> {% trans "Add project picture" %}</a>
        {% endif %}
        {% endthumbnail %}
      </div>
      <div class="row">
        <div class="span3">
          <h2 style="margin-top:12px">{% trans "Volunteers" %}</h2>
        </div>
      </div>
      <div class="img-tiny-list">
        <div class="row">
          <div class="span3">
            <img class="img-rounded" src="{{ STATIC_URL }}/img/dummy.jpg" />
            <div><a href="#">Rogerio da Silva Yokomizo</a></div>
          </div>
        </div>
        <div class="row">
          <div class="span3">
            <img class="img-rounded" src="{{ STATIC_URL }}/img/dummy.jpg" />
            <div><a href="#">Rogerio Yokomizo</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="span6">
      {% block project %}
      {% endblock %}
    </div>
    <div class="span3">
      <div class="well">
        <h2>{% trans "nonprofit" %}</h2>
        <p>
        {% if nonprofit.details %}
          {{ nonprofit.details }}
        {% else %}
          {% trans "Nothing about this nonprofit" %}
        {% endif %}
        </p>
        <h2 style="margin-top:22px">{% trans "Other projects" %}</h2>
        <div class="img-tiny-list">
          {% for project in nonprofit.project_set.all %}
          <div class="row-fluid">
            <div class="span12">
              {% thumbnail project.image "42x42" crop="center" as im %}
              <a href="{{ project.get_absolute_url }}"><img class="img-rounded" alt="{{ project }}" src="{{ im.url }}" width="{{ im.width}}" height="{{ im.height }}" /></a>
              {% empty %}
              <a href="{{ project.get_absolute_url }}" class="img-rounded icon project tiny"></a>
              {% endthumbnail %}
              <div><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
      <p>One fine body</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
      <button type="button" class="btn btn-primary btn-apply" data-loading-text="{% trans "Appying..." %}">{% trans "Apply" %}</button>
    </div>
  </div>
</div>

{% endblock %}

