{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{{ organisation.get_absolute_url }}">{{ organisation.name }}</a></li>
<li class="active">{{ project.name }}</li>
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    <h1>{{ project.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="span8">
    <div class="well">
      {{ project.details }} <br />

      {{ project.responsible }} <br />
      {{ project.phone }} <br />
      {{ project.email }} <br />
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h2>{% trans "Organisation" %}</h2>
      {{ organisation.name }}
    </div>
  </div>
</div>

{% endblock %}

