{% extends 'atados/project/nonprofit.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a></li>
<li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
<li class="active">{% trans "Edit" %}</li>
{% endblock %}

{% block inner_content %}
<div id="project-edit">
  <div class="row">
    <div class="span9">
      <div class="well">
        <div class="row-fluid">
          <div class="span9">
            <a href="{{ project.get_absolute_url }}" class="absolute-url">{{ site }}{{ project.get_absolute_url }}</a>
          </div>
          <div class="span3">
            <a href="{{ project.get_absolute_url }}" class="btn btn-danger delete-project">{% trans "Delete" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <form class="well" method="post" action="{{ project.get_edit_url }}">{% csrf_token %}
        <fieldset>
          {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
