{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{% url project:new nonprofit.slug %}">{% trans "Project kind choose" %}</a></li>
<li class="active">{% trans "Add new donation project" %}</li>
{% endblock %}

{% block content %}
<div id="project-new-donation">
  <div class="row">
    <div class="span12">
      <h1>{% trans "New donation project" %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span7">
      <form class="well" method="post" action="{% url project:new-donation nonprofit.slug %}">{% csrf_token %}
        <fieldset>
          <legend>{% trans "About donantion" %}</legend>
          {{ form.name|as_bootstrap }}
          {{ form.details|as_bootstrap }}
        </fieldset>
        <fieldset>
          <legend>{% trans "Collecting" %}</legend>
          {{ form.collection_by_nonprofit|as_bootstrap }}
        </fieldset>
        <fieldset>
          <legend>{% trans "Delivery" %}</legend>
          {{ form.addressline|as_bootstrap }}
          <div class="row-fluid">
            <div class="span6">
              {{ form.neighborhood|as_bootstrap }}
            </div>
            <div class="span6">
              {{ form.city|as_bootstrap }}
            </div>
          </div>
        </fieldset>
        <fieldset id="project-new-contact">
          <legend>{% trans "Contact" %}</legend>
          {{ form.responsible|as_bootstrap }}
          <div class="row-fluid">
            <div class="span6">
              {{ form.phone|as_bootstrap }}
            </div>
            <div class="span6">
              {{ form.email|as_bootstrap }}
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
          <a class="btn" href="{% url project:new nonprofit.slug %}">{% trans "Back" %}</a>
        </div>
      </form>
    </div>
    <div class="span5">
    </div>
  </div>
</div>
{% endblock %}
