{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit atados.project %}

{% block breadcrumb %}
<li><a href="{% url project:new nonprofit.slug %}">{% trans "Project kind choose" %}</a></li>
<li class="active">{% trans "Add new donation" %}</li>
{% endblock %}

{% block content %}
<div id="project-new-donation">
  <div class="page-header">
    <h1>{% trans "Add new donation" %}</h1>
  </div>
  <div class="row">
    <div class="span7">
      <form class="well" method="post" action="{% url project:new-donation nonprofit.slug %}">{% csrf_token %}
        {% include "atados/project/form-donation.html" %}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
          <a class="btn" href="{% url project:new nonprofit.slug %}">{% trans "Back" %}</a>
        </div>
      </form>
    </div>
    <div class="span5">
    </div>
  </div>
</div>
{% endblock %}
