{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{% url project:new organisation.slug %}">{% trans "Project kind choose" %}</a></li>
<li class="active">{% trans "Add new periodic project" %}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    <h1>{% trans "New periodic project" %}</h1>
  </div>
</div>
<div class="row">
  <div class="span7">
    <form class="well" method="post" action="{% url project:new-periodic organisation.slug %}">{% csrf_token %}
      <fieldset>
        {{ form|as_bootstrap }}
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
        <a class="btn" href="{% url project:new organisation.slug %}">{% trans "Back" %}</a>
      </div>
    </form>
  </div>
  <div class="span5">
  </div>
</div>
{% endblock %}
