{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{% url project:new organisation.slug %}">{% trans "Project kind choose" %}</a></li>
<li class="active">{% trans "Add new just once project" %}</li>
{% endblock %}

{% block content %}
<div id="project-new-just-once">
  <div class="row">
    <div class="span12">
      <h1>{% trans "New just once project" %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span7">
      <form class="well" method="post" action="{% url project:new-just-once organisation.slug %}">{% csrf_token %}
        <fieldset>
          <legend>{% trans "About job" %}</legend>
          <div class="control-group required">
            <div class="control-label">
              <label>Classification</label>
            </div>
            <div class="controls">
              <select>
              </select>
            </div>
          </div>
          <div class="control-group required">
            <div class="control-label">
              <label>Sub-Classification</label>
            </div>
            <div class="controls">
              <select>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset id="project-new">
          <legend>{% trans "About project" %}</legend>
          {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
          <a class="btn" href="{% url project:new organisation.slug %}">{% trans "Back" %}</a>
        </div>
      </form>
    </div>
    <div class="span5">
    </div>
  </div>
</div>
{% endblock %}
