{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{% url project:new organisation.slug %}">{% trans "Project kind choose" %}</a></li>
<li class="active">{% trans "Add new just once project" %}</li>
{% endblock %}

{% block content %}
<div id="project-new-just-once">
  <div class="row">
    <div class="span12">
      <h1>{% trans "New just once project" %}</h1>
    </div>
  </div>
  <div class="row">
    <div class="span7">
      <form class="well" method="post" action="{% block action %}{% url project:new-just-once organisation.slug %}{% endblock %}">{% csrf_token %}
        <fieldset>
          <legend>{% trans "About job" %}</legend>
          {{ form.name|as_bootstrap }}
        </fieldset>
        <fieldset>
          <legend>{% trans "Cause" %}</legend>
          {{ form.cause|as_bootstrap }}
        </fieldset>
        <fieldset>
          <legend>{% trans "Skills" %}</legend>
          {{ form.skill|as_bootstrap }}
          {{ form.prerequisites|as_bootstrap }}
        </fieldset>
        <fieldset>
          <legend>{% trans "Disponibility" %}</legend>
          <div class="row-fluid">
            <div class="span4">
              {% block weekly_hours %}{% endblock %}
            </div>
          </div>

        </fieldset>
        <fieldset>
          <legend>{% trans "Location" %}</legend>
          {{ form.can_be_done_remotely|as_bootstrap }}
          <div class="row-fluid">
            <div class="span4">
              {{ form.zipcode|as_bootstrap }}
            </div>
            <div class="span8">
              {{ form.addressline|as_bootstrap }}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
              {{ form.neighborhood|as_bootstrap }}
            </div>
            <div class="span6">
              {{ form.city|as_bootstrap }}
            </div>
          </div>
        </fieldset>
        <fieldset id="project-new-contact">
          <legend>{% trans "Contact" %}</legend>
          {{ form.responsible|as_bootstrap }}
          <div class="row-fluid">
            <div class="span6">
              {{ form.phone|as_bootstrap }}
            </div>
            <div class="span6">
              {{ form.email|as_bootstrap }}
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>{% trans "More info" %}</legend>
          <div class="row-fluid">
            <div class="span4">
              {{ form.vacancies|as_bootstrap }}
            </div>
          </div>
          {{ form.details|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
          <a class="btn" href="{% url project:new organisation.slug %}">{% trans "Back" %}</a>
        </div>
      </form>
    </div>
    <div class="span5">
    </div>
  </div>
</div>
{% endblock %}
