{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block content %}

<div class="row">
  <div class="span6">
  </div>
  <div class="span6">
    <form class="well" method="post" action="{% url project:new organisation.slug %}">{% csrf_token %}
      <fieldset>
        {{ form|as_bootstrap }}
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
