{% extends 'atados/atados/base.html' %}
{% load i18n atados.atados %}

{% block content %}

<div id="project-nonprofit">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">

        {% url project:edit nonprofit.slug project.slug as href %}
        <li class="{% active request href %}"><a href="{{ href }}">{% trans "Options" %}</a></li>
        
        {% url project:collaborators nonprofit.slug project.slug as href %}
        <li class="{% active request href %}"><a href="{{ href }}">{% trans "Volunteers" %}</a></li>
        
        {% url project:requests nonprofit.slug project.slug as href %}
        <li class="{% active request href %}"><a href="{{ href }}">{% trans "Requests" %} <span class="badge badge-success">3</span></a></li>
        
        {% url project:steps nonprofit.slug project.slug as href %}
        <li class="{% active request href %}"><a href="{{ href }}">{% trans "Steps" %}</a></li>

      </ul>
    </div>
    <div class="span9">
      {% block inner_content %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}

