{% extends 'atados/project/nonprofit.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li><a href="{{ nonprofit.get_absolute_url }}">{{ nonprofit.name }}</a></li>
<li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
<li class="active">{% trans "Edit project picture" %}</li>
{% endblock %}

{% block inner_content %}
<form class="well" action="{% url project:edit-project-picture nonprofit.slug project.slug %}" method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form|as_bootstrap }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% trans "Upload" %}</button>
  </div>
</form>
{% endblock %}
