{% extends 'atados/project/organisation.html' %}
{% load i18n bootstrap_toolkit %}

{% block breadcrumb %}
<li class="active">{{ project.name }}</li>
{% endblock %}

{% block inner_content %}
<div id="project-collaborators">
  <div class="row">
    <div class="span9">
      <h2>{% trans "Requests" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>
              <a href="#" class="volunteer-link" rel="tooltip" title="{% trans "Rog&eacute;rio has completed 9 good actions" %}">Rog&eacute;rio</a> do <a href="#">Suspendisse luctus ligula eget dolor sagittis vehicula</a>. <span style="color:#999; font-size:12px">3 days ago</a>
            </td>
            <td style="width:115px; text-align:right">
              <a class="btn btn-primary btn-mini" href="#">{% trans "Received" %}</a>
              <a class="btn btn-mini" href="#">{% trans "Delete" %}</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Rog&eacute;rio</a> do <a href="#">Nam rutrum erat sit amet ipsum dignissim</a>. <span style="color:#999; font-size:12px">3 days ago</a>
            </td>
            <td style="text-align:right">
              <a class="btn btn-primary btn-mini" href="#">{% trans "Attended" %}</a>
              <a class="btn btn-mini" href="#">{% trans "Missed" %}</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#">Rog&eacute;rio</a> do <a href="#">Etiam eget magna eu tortor vestibulum semper</a>. <span style="color:#999; font-size:12px">3 days ago</a>
            </td>
            <td style="text-align:right">
              <a class="btn btn-primary btn-mini" href="#">{% trans "Attended" %}</a>
              <a class="btn btn-mini" href="#">{% trans "Missed" %}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
