.atados {
  font-family: Helvetica, sans-serif, Arial;

  label {
    font-weight: bold;
  }

  #header {
    background:#333;
    font-size:14px;
    height: 60px;
    margin-bottom: 24px;
    color: #fff;

    input {
      font-size: 12px;
    }

    .logo {
      margin-top:20px;

      a {
        color:#fff;
      }
    }

    .form-search {
      margin:15px 0 8px;
    }

    .menu {
      margin-top: 20px;
      margin-left: 0;

      a {
        color: #9ee9ff;
      }

      li {
        display: inline;
        color:#999;

        a {
          padding: 8px 1px 8px 4px;
        }

        &:before {
          content: "|";
        }

        &:first-child {
          a {
            padding-left:0;
          }

          &:before { 
            content: "";
          }
        }
      }
    }

    .tools {
      font-weight:bold;
      margin-top:20px;
      float:right;
      color:#999;

      & > a {
        color:#fff;
      }

      .caret {
        border-top-color: #fff;
      }
    }

    .login {
      left:auto;
      right:0;
      width:286px;
      padding:10px;

      form {
        margin:0;
      }

      .checkbox {
        display:block;
        font-size:11px;
        color:#999;
        margin-top:3px;

        input {
          margin-top:3px;
        }
      }
    }
  }

  #footer {
    padding:25px 10px 25px 40px;
    margin-top:15px;

    .logo {
      margin-top:55px;
      text-align:center;
      color:#999;
    }

    ul {
      margin-left:0;

      li {
        list-style:none;
      }
    }
  }

  #footer-legal {
    margin-bottom: 18px;

    #copyright {
      margin:0 0 0 8px;
    
      &:after { 
        content: "";
      }
    }

    li {
      color:#999;
      display:inline;
      
      a {
        margin:0 14px 0 7px;
      }

      &:after {
        content: "|";
      }

      &:first-child a {
        margin:0 14px 0 0;
      }
    }
  }

  .list {
    list-style:none;

    li {
      margin-bottom:16px;
      margin-top:32px;
    }

    .title {
      font-size: 22px;
      margin-bottom: 8px;
    }
  }

  .well {
    .form-actions {
      padding-left:0;
      padding-bottom:0;
      padding-right:0;
      margin-bottom:0;
    }
  }

  #home {
    h1 {
      font-weight:bold;
      line-height: 58px;
      font-size: 60px;
      margin-top: 30px;
      color:#179bc2;
    }

    h2 {
      font-weight:normal;
      line-height: 28px;
      margin-top:20px;
      font-size: 21px;
      color:#999;
    }

    #register-form {
      input[type=text], input[type=password] { 
        width: 325px;
      }
      
      .form-terms {
        font-size: 11px;
        margin-bottom:10px;
        margin-top:10px;
      }

      .form-actions {
        margin-top: 6px;
        padding-top: 12px;
      }
    }

    #jobs {
      background: url('../img/sprite.png') repeat-x 0 -46px;
      margin-top: 6px;
      border-top: 1px solid #dadada;
      padding-top: 28px;
    }
  }

  #volunteer-sign-up, #organisation-sign-up {

    h1 {
      font-weight:normal;
      font-size:30px;
      margin:0 0 26px;
    }

    .reasons {
      h2 {
        font-weight:normal;
        font-size:20px;
        line-height:24px;
        margin:0 0 16px;
      }

      p {
        color:#999;
      }

      .row {
        margin-bottom:26px;
      }
    }

    .add-on {
      font-size:14px;
      color:#999;
      width:178px;
    }

    .error .add-on {
      color:#B94A48;
    }

    input[type=text], input[type=password] { 
      width: 404px;
    }

    .input-prepend input {
      width: 215px;
    }

    .form-terms {
      font-size: 11px;
      margin-bottom:10px;
      margin-top:10px;
    }

    .form-actions {
      margin-top: 6px;
      padding-top: 12px;
    }

  }

  #sign-in {
    margin:70px auto;
    width:300px;

    input[type=text], input[type=password] {
      width:243px;
    }

    .checkbox {
      float:right;
      margin-right:15px;
      font-size:11px;
      color:#666;

      input {
        margin-top:3px;
      }
    } 
  }
}
