.atados {

  $blue:#25b3ef;
  $gray:#555;
  $dark-blue:darken($blue, 10%);

  min-width:1000px;
  color:$gray;

  a {
    color:$blue;
  }

  h1 a, h1 a, h2 a, a h2 {
    color:$dark-blue;
  }

  .btn {
    color:$gray;
    background:#f5f5f5;
  }

  .btn-primary, .btn-danger, .btn-sucess {
    color:#fff;
  }

  .btn-primary {
    background:$dark-blue;
  }

  .btn-danger {
    background:#da4f49;
  }

  .dropdown-menu {
    .active > a,
    li > a:hover {
      background:$dark-blue;
    }
  }

  & > div {
    padding:0 30px;
    min-width:940px;
    margin:0 auto;
    display:block;
  }

  font-family: Helvetica, sans-serif, Arial;

  label {
    font-weight: bold;
  }

  legend {
    margin-bottom:0;
    font-size:26px;
  }

  fieldset {
    margin-bottom:50px;
  }

  //legend + .row, legend + .row-fluid {
  legend + * {
    margin-top: 20px;
    -webkit-margin-top-collapse: separate;
  }

  .required {
    & > label, & > legend {
      &:after {
        padding-left: 3px;
        content: "*";
      }
    }
  }

  .well-light {
    background:#fcfcfc;
  }

  .icon {
    display:block;
    background:url('../img/icons.png') no-repeat;

    &.large {
      width:220px;
      height:220px;

      &.volunteer {
        background-position:-220px 0;
      }
    }

    &.medium {
      width:140px;
      height:140px;

      &.volunteer {
        background-position:-220px 0;
      }
    }
    
    &.small {
      width:60px;
      height:60px;

      &.nonprofit {
        background-position:0 -220px;
      }

      &.volunteer {
        background-position:-60px -220px;
      }
    }

    &.tiny {
      width:42px;
      height:42px;

      &.nonprofit {
        background-position:-120px -220px;
      }

      &.volunteer {
        background-position:-180px -220px;
      }
    }
  }

  .span7 > form {
    input[type=text], input[type=password], textarea {
      width: 480px;
    }

    textarea {
      height:60px;
    }

    .row-fluid {
      .span6 {
        select {
          width: 238px;
        }
        input[type=text], input[type=password], textarea {
          width: 224px;
        }
      }
      .span4 {
        input[type=text], input[type=password], textarea {
          width: 139px;
        }
      }
      .span8 {
        input[type=text], input[type=password], textarea {
          width: 308px;
        }

        select {
          width: 322px;
        }
      }
    }
  }

  .add-on {
    font-size:14px;
    color:#999;
    padding:4px 8px;
  }

  h1 {
    font-weight:normal;
    font-size:30px;
  }

  h2 {
    font-weight:normal;
    font-size:20px;
    line-height:24px;
    margin:0 0 16px;
  }

  .img-tiny-list {
    img, & > div > div > a {
      width:42px;
      float:left;
      margin:0 10px 10px 0
    }
  }

  #header {
    z-index:1000;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:$blue;
    //background-image: -moz-linear-gradient(top, $blue, $dark-blue);
    //background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blue), to($dark-blue));
    //background-image: -webkit-linear-gradient(top, $blue, $dark-blue);
    //background-image: -o-linear-gradient(top, $blue, $dark-blue);
    //background-image: linear-gradient(to bottom, $blue, $dark-blue);
    //background-repeat: repeat-x;
    font-size:14px;
    height: 60px;
    margin-bottom: 24px;
    color: #fff;

    & + div {
      padding-top:84px;
    }

    .logo {
      margin-top:12px;

      a {
        background:url('../img/atados.png') no-repeat;
        //width:115px;
        width:37px;
        height:37px;
        color:#fff;
        display:block;
        overflow:hidden;
        text-indent:-9999px;
      }
    }

    .form-search {
      margin:15px 0 8px;
      .search-query {
        width:150px;
      }
    }

    .menu {
      margin-top: 20px;
      margin-left: 0;

      a {
        color: #fff;
      }

      li {
        display: inline;
        color:#9ee9ff;

        a {
          padding: 8px 1px 8px 4px;
        }

        &:before {
          content: "|";
        }

        &:first-child {
          a {
            padding-left:0;
          }

          &:before { 
            content: "";
          }
        }
      }
    }

    .location-selector {
      margin-top:20px;
      color:#999;

      & > a {
        color:#fff;
      }

      .caret {
        border-top-color: #fff;
      }

      .dropdown-menu {
        padding: 10px;
        width:261px;
        text-align:center;
      }

      .nav-stacked {
        margin:0 0 10px;
        padding:0;
        text-align:left;
      }
    }

    .tools {
      font-weight:bold;
      margin-top:20px;
      float:right;
      color:#999;

      & > a {
        color:#fff;
      }

      .caret {
        border-top-color: #fff;
      }
    }

    .login {
      left:auto;
      right:0;
      width:286px;
      padding:10px;

      form {
        margin:0;
      }

      .checkbox {
        display:block;
        font-size:11px;
        color:#999;
        margin-top:3px;

        input {
          margin-top:6px;
        }
      }
    }
  }

  .breadcrumb {
    background:none;
    padding:0;
    margin:0;

    li {
      &:after {
        color:#ccc;
        padding:0 5px 0 10px;
        content:"/";
      }
      &.active {
        &:after {
          content:"";
          padding:0;
        }
      }
    }
  }

  #footer {
    padding:25px 10px 25px 40px;
    margin-top:15px;

    .logo {
      width:180px;

      div {
        margin-top:55px;
        text-align:center;
        color:#999;
      }
    }

    ul {
      margin-left:0;

      li {
        list-style:none;
      }
    }
  }

  #footer-legal {
    margin-bottom: 18px;

    #copyright {
      margin:0 0 0 8px;
    
      &:after { 
        content: "";
      }
    }

    li {
      color:#999;
      display:inline;
      
      a {
        margin:0 14px 0 7px;
      }

      &:after {
        content: "|";
      }

      &:first-child a {
        margin:0 14px 0 0;
      }
    }
  }

  .list {
    list-style:none;

    li {
      margin-bottom:16px;
      margin-top:32px;
    }

    .title {
      font-size: 22px;
      margin-bottom: 8px;
    }
  }

  .well {
    .form-actions {
      padding-left:0;
      padding-bottom:0;
      padding-right:0;
      margin-bottom:0;
    }
  }

  #home {

    h1 {
      font-weight:bold;
      line-height: 58px;
      font-size: 60px;
      margin:10px 0 14px;
      color:#179bc2;
    }

    h2 {
      font-weight:normal;
      line-height: 28px;
      font-size: 21px;
      color:#999;
    }

    #register-form {
      input[type=text], input[type=password] { 
        width: 325px;
      }
      
      #id_username {
        width:140px;
      }

      .form-terms {
        font-size: 11px;
        margin-bottom:10px;
        margin-top:10px;
      }

      .form-actions {
        margin-top: 6px;
        padding-top: 12px;
      }
    }
  }

  #volunteer-sign-up, #nonprofit-sign-up {

    .reasons {
      p {
        color:#999;
      }

      .row {
        margin-bottom:44px;
      }
    }

    .add-on {
      padding:4px 5px;
      width:178px;
    }

    .error .add-on {
      color:#B94A48;
    }

    input[type=text], input[type=password] { 
      width: 404px;
    }

    .input-prepend input {
      width: 215px;
    }

    .form-terms {
      font-size: 11px;
      margin-bottom:10px;
      margin-top:10px;
    }

    .form-actions {
      margin-top: 6px;
      padding-top: 12px;
    }

  }

  #sign-in {
    margin:70px auto;
    width:300px;

    input[type=text], input[type=password] {
      width:243px;
    }

    .checkbox {
      float:right;
      text-align:right;
      width:130px;
      margin-right:5px;
      font-size:11px;
      color:#666;

      input {
        margin-top:0;
        float:none;
      }
    } 
  }

  #nonprofit-home {
    h1 {
      margin:10px 0 0;
    }

    & > .row {
      margin-bottom:20px;
    }
  }

  #project-nonprofit {
    .nav  {
      .badge {
        float:right;
        margin-top:2px;
      }
      li.active {
        a {
          background:$dark-blue;
          color:#fff;
        }
      }
    }
  }

  #project-edit {
    .absolute-url {
      padding:4px 0;
      display:block
    }
    .delete-project {
      float:right;
    }
  }

  .profile-picture {
    position:relative;
    margin-bottom:20px;
    width:220px;
    height:220px;

    & > div, & > img {
      width:220px;
      height:220px;
    }

    a {
      position:absolute;
      bottom:-10px;
      left:10px;
      display:none;
    }

    &:hover {
      a {
        display:inline;
      }
    }
  }

  #project-details {
    .page-header {
      position:relative;

      .project-actions {
        position:absolute;
        right:0;
        top:0;
        width:220px;
      }
    }

    .project {
      
      .row {
        margin-bottom:20px;

        p {
          text-align: justify;
        }

        h2 {
          text-align:right;
          font-weight:bold;
          font-size:1em;

          &:after {
            content:":";
          }
        }
      }
    }

    aside {
      .row {
        margin-bottom:20px;
        
        .well {
          margin-bottom:0;
        }
      }
    }
  }

  ul.projects {
    padding:0;
    margin:0;

    li {
      padding:0;
      margin:0;
      list-style:none;

      & + li {
        margin-top:10px;
      }
    }
  }

  .well-header {
    position:relative;

    div {
      position:absolute;
      top:2px;
      right:0;
    }
  }

  .select-button-list {
    padding:0;
    margin:1px 1px 10px 0;
    float:left;
    width:100%;

    li {
      list-style:none;
      margin:0;
      padding:5px;
      float:left;
      border:1px solid #ddd;
      margin:-1px -1px 0 0;
      background:#fff;

      input {
        display:none;
      }

      a {
        float:left;
        width:97px;
        height:56px;
        overflow:hidden;
        padding:8px;
        background:#fff;
        color:#333;

        &:hover {
          background:$blue;
          color:#fff;
          text-decoration:none;
        }
      }

      &.active {
        a {
          background:$dark-blue;
          color:#fff;
          text-decoration:none;
        }
      }
    }
  }

  .table-availabilities {
    td, thead th {
      text-align:center;
    }
  }

  #search-result {
    .page-header {
      position:relative;

      .form-search {
        position:absolute;
        right:0;
        top:0;
        width:700px;
      }
    }
    .nav  {
      li.active {
        a {
          background:$dark-blue;
          color:#fff;
        }
      }
    }

    form {

      input {
        font-size:18px;
        height:30px;
      }

      button {
        font-size:18px;
        height:40px;
      }
    }

    .result {

      .bar {
        font-weight:bold;
        margin-bottom:18px;
      }

      .results {
        margin:0;
        padding:0;

        li {
          list-style:none;
          border-top:1px solid #eee;
          padding:18px 0;
        }
      }

      .pagination {

        li {
          list-style:none;
          display:inline;
          
          &:before {
            content:"|";
            color:#ccc;
          }

          &:first-child {
            &:before {
              content:"";
            }
          }
        }
      }
    }
  }
}
