{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block content %}
<div id="organisation-sign-up">
  <div class="row">
    <div class="span6">
      Desc
    </div>
    <div class="span6">
      <form class="well" method="post" action="{% url atados:organisation.sign-up %}">{% csrf_token %}
        <fieldset>
          {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-terms alert">
          {% url atados:home as terms_url %}
          {% url atados:home as privacy_url %}
          {% blocktrans %}
          By clicking Sign Up, you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Service</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.
          {% endblocktrans %}
        </div>
        <div class="form-actions">
          <button type="submit" tabindex="6" class="btn btn-primary">{% trans "Sign up" %}</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
