  {% load i18n %}<!DOCTYPE html>
  <html lang="{{ LANGUAGE_CODE }}">
    <head>
      <meta charset="utf-8">
      <title>{% block fulltitle %}{% block title %}Atados.com.br{% endblock %} - Atados.com..br{% endblock %}</title>
      <meta name="description" content="{% block description %}{% endblock %}">

      <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
      <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

      {% block css %}
      {% endblock %}

      {% block preload_js %}
      {% endblock %}

      {% block extra-head %}{% endblock %}

    </head>
    <body>

      <div id="main" class="atados">

        <div id="header">
          <div class="container">
            <div class="row">
            <div class="span2">
            </div>
            <div class="span5">
              <ul class="menu">
                <li><a href="{% url atados:organisation.sign-up %}">{% trans "I want to volunteer" %}</a></li>
                <li><a href="{% url atados:organisation.sign-up %}">{% trans "I want to put a project" %}</a></li>
              </ul>
            </div>
            <div class="span5">
              <div class="login">
                <form class="form-inline">
                  <input type="text" class="input-small" placeholder="E-mail">
                  <input type="password" class="input-small" placeholder="Password">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                  <label class="checkbox">
                    <input type="checkbox" checked="checked" /> Remember me
                  </label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% block out_content %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      {% endblock %}

      <div id="footer" class="container">
        <div class="row">
          <div class="span4">
            <h4>Atados.com.br</h4>
            <ul>
              <li><a href="#">{% trans "About Atados.com.br" %}</a></li>
              <li><a href="#">{% trans "Careers" %}</a></li>
              <li><a href="#">{% trans "Contact" %}</a></li>
              <li><a href="#">{% trans "News" %}</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>{% trans "Services" %}</h4>
            <ul>
              <li><a href="">{% trans "For dealerships" %}</a></li>
              <li><a href="">{% trans "For developers" %}</a></li>
            </ul>
          </div>
          <div class="span4">
            <h4>{% trans "Documentation" %}</h4>
            <ul>
              <li><a href="#">{% trans "Atados.com.br help" %}</a></li>
            </ul>
          </div>
        </div>

        <div id="footer-legal" class="row">
          <ul>
            <li><a href="">{% trans "Terms of service" %}</a></li>
            <li><a href="">{% trans "Privacy" %}</a></li>
            <li><a href="">{% trans "Security" %}</a></li>
            <li id="copyright">{% trans "&copy; 2013 Atados.com.br" %}</li>
          </ul>
        </div><!-- /#footer-legal -->

      </div>

      <script src="{{ STATIC_URL }}/js/jquery-1.8.3.min.js"></script>
      {% block js %}
      {% endblock %}

    </div><!-- /#main -->
  </body>
</html>
