{% load i18n %}<!DOCTYPE html>
  <html lang="{{ LANGUAGE_CODE }}">
    <head>
      <meta charset="utf-8">
      <title>{% block fulltitle %}{% block title %}{{ site.name }}{% endblock %} - {{ site.name }}{% endblock %}</title>
      <meta name="description" content="{% block description %}{% endblock %}">

      <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
      <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
      <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

      {% block css %}
      {% endblock %}

      {% block preload_js %}
      {% endblock %}

      {% block extra-head %}{% endblock %}

    </head>
    <body>

      <div id="main" class="atados">

        <div id="header">
          <div class="container">
            <div class="row">
            <div class="span2">
              <div class="logo">
                <a href="{% url atados:home %}">{{ site.name }}</a>
              </div>
            </div>
            {% if user.is_authenticated %}
            <div class="span10">
              <div class="dropdown tools">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.email }} <span class="caret"></span></a>
                <ul class="dropdown-menu" style="left:auto; right:0">
                  <li>
                    <div style="padding:3px 15px; margin-bottom:12px">
                      <span style="display:block; font-weight:bold">{{ user.first_name }}</span>
                      <span style="display:block">{{ user.email }}</span>
                    </div>
                  </li>
                  <li><a href="#">{% trans "New project" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url atados:sign-out %}">{% trans "Sign out" %}</a></li>
                </ul>
              </div>
            </div>
            {% else %}
            <div class="span5">
              <ul class="menu">
                <li><a href="{% url volunteer:sign-up %}">{% trans "I want to volunteer" %}</a></li>
                <li><a href="{% url organisation:sign-up %}">{% trans "I want to put a project" %}</a></li>
              </ul>
            </div>
            <div class="span5">
              <div class="login">
                <form class="form-inline" method="post" action="{% url atados:sign-in %}">{% csrf_token %}
                  <input type="text" class="input-small" name="username" placeholder="E-mail">
                  <input type="password" class="input-small" name="password" placeholder="Password">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                  <label class="checkbox">
                    <input type="checkbox" name="rememberme" checked="checked" /> Remember me
                    <input type="hidden" name="next" value="{{ next }}" />
                  </label>
                </form>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% block out_content %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      {% endblock %}

      <div class="container">
        <div id="footer" class="well">
          <div class="row-fluid">
            <div class="span3">
              <div class="logo">
                {{ site.name }}
              </div>
            </div>
            <div class="span3">
              <h4>{{ site.name }}</h4>
              <ul>
                <li><a href="#">{% trans "About us" %}</a></li>
                <li><a href="#">{% trans "Careers" %}</a></li>
                <li><a href="#">{% trans "Contact" %}</a></li>
                <li><a href="#">{% trans "News" %}</a></li>
              </ul>
            </div>
            <div class="span3">
              <h4>{% trans "Services" %}</h4>
              <ul>
                <li><a href="">{% trans "For schools" %}</a></li>
                <li><a href="">{% trans "For companies" %}</a></li>
              </ul>
            </div>
            <div class="span3">
              <h4>{% trans "Documentation" %}</h4>
              <ul>
                <li><a href="#">{% trans "Help" %}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="footer-legal" class="row">
          <ul>
            <li><a href="">{% trans "Terms of service" %}</a></li>
            <li><a href="">{% trans "Privacy" %}</a></li>
            <li><a href="">{% trans "Security" %}</a></li>
            {% with site.name as site_name %}
            <li id="copyright">{% blocktrans %}&copy; 2013 {{ site_name }}{% endblocktrans %}</li>
            {% endwith %}
          </ul>
        </div><!-- /#footer-legal -->

      </div>

      <script src="{{ STATIC_URL }}/js/jquery-1.8.3.min.js"></script>
      <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
      {% block js %}
      {% endblock %}

    </div><!-- /#main -->
  </body>
</html>
