{% extends 'atados/atados/base.html' %}
{% load i18n %}

{% block fulltitle %}Atados.com.br{% endblock %}

{% block content %}
<div id="home">
  <div class="row">
    <div class="span7">
      <h1>Uma rede do bem,<br /> para fazer o bem</h1>
      <h2>Encontre as mais diversas oportunidades<br /> de trabalho volunt&aacute;rio</h2>
      <!--<iframe height="196" style="margin-top: 20px;" src="http://www.youtube.com/embed/-_-SQ2WJEMQ" frameborder="0" allowfullscreen></iframe>-->
    </div>
    <div class="span5">
      <form class="well" id="register-form">
        <label>{% trans "Name" %}</label>
        <input type="text" placeholder="Type you name here" />
        <label>Seu e-mail</label>
        <input type="text" placeholder="example@example.com" />
        <label>Crie uma senha</label>
        <input type="password" />
        <label>Confirme sua senha</label>
        <input type="password" />
        <div class="form-terms alert">
          {% url atados:home as terms_url %}
          {% url atados:home as privacy_url %}
          {% blocktrans %}
          By clicking Sign Up, you are indicating that you have read and agree to the <a href="{{ terms_url }}">Terms of Service</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.
          {% endblocktrans %}
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" id="jobs">
    <ul class="span6 list">

      <li class="row">
      <div class="span2">
        <img src="{{ STATIC_URL }}/img/dummy.jpg" />
      </div>
      <div class="span4">
        <div class="row title">
          <a href="#">Um teto para o meu pa&iacute;s</a>
        </div>
        <div class="row">S&atilde;o Paulo - SP</div>
        <div class="row">Pinheiros</div>
        <div class="row">Auxiliar de Obras</div>
        <div class="row">1 dia</div>
      </div>
      </li>
      <li class="row">
      <div class="span2">
        <img src="{{ STATIC_URL }}/img/dummy.jpg" />
      </div>
      <div class="span4">
        <div class="row title">
          <a href="#">Um teto para o meu pa&iacute;s</a>
        </div>
        <div class="row">S&atilde;o Paulo - SP</div>
        <div class="row">Pinheiros</div>
        <div class="row">Auxiliar de Obras</div>
        <div class="row">1 dia</div>
      </div>
      </li>
      <li class="row">
      <div class="span2">
        <img src="{{ STATIC_URL }}/img/dummy.jpg" />
      </div>
      <div class="span4">
        <div class="row title">
          <a href="#">Um teto para o meu pa&iacute;s</a>
        </div>
        <div class="row">S&atilde;o Paulo - SP</div>
        <div class="row">Pinheiros</div>
        <div class="row">Auxiliar de Obras</div>
        <div class="row">1 dia</div>
      </div>
      </li>

    </ul>
    <ul class="span6 list">

      <li class="row">
      <div class="span2">
        <img src="{{ STATIC_URL }}/img/dummy.jpg" />
      </div>
      <div class="span4">
        <div class="row title">
          <a href="#">Um teto para o meu pa&iacute;s</a>
        </div>
        <div class="row">S&atilde;o Paulo - SP</div>
        <div class="row">Pinheiros</div>
        <div class="row">Auxiliar de Obras</div>
        <div class="row">1 dia</div>
      </div>
      </li>
      <li class="row">
      <div class="span2">
        <img src="{{ STATIC_URL }}/img/dummy.jpg" />
      </div>
      <div class="span4">
        <div class="row title">
          <a href="#">Um teto para o meu pa&iacute;s</a>
        </div>
        <div class="row">S&atilde;o Paulo - SP</div>
        <div class="row">Pinheiros</div>
        <div class="row">Auxiliar de Obras</div>
        <div class="row">1 dia</div>
      </div>
      </li>
      <li class="row">
      <div class="span2">
        <img src="{{ STATIC_URL }}/img/dummy.jpg" />
      </div>
      <div class="span4">
        <div class="row title">
          <a href="#">Um teto para o meu pa&iacute;s</a>
        </div>
        <div class="row">S&atilde;o Paulo - SP</div>
        <div class="row">Pinheiros</div>
        <div class="row">Auxiliar de Obras</div>
        <div class="row">1 dia</div>
      </div>
      </li>

    </ul>
  </div>
</div>
{% endblock %}
