{% extends 'atados/atados/base.html' %}
{% load i18n bootstrap_toolkit %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block breadcrumb %}
<li class="active">{% trans "Sign in" %}</li>
{% endblock %}

{% block content %}
<div id="sign-in">
  <form class="well" method="post" action="{% url atados:sign-in %}">{% csrf_token %}
    {{ form|as_bootstrap }}
    <button type="submit" tabindex="6" class="btn btn-primary">{% trans "Sign in" %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}

